[submodule "deps/TelegramQML"]
	path = deps/TelegramQML
	url = https://github.com/ubports/TelegramQML.git -b ubports-API53
[submodule "deps/libqtelegram-ae"]
	path = deps/libqtelegram-ae
	url = https://github.com/ubports/libqtelegram-aseman-edition.git -b ubports-API53
