[Desktop Entry]
Version=0.1
Type=Application
Terminal=false
Exec=telegram %u
Name=Telegram
Icon=${SNAP}/meta/gui/icon.png
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=communication
X-Ubuntu-Splash-Show-Header=false
X-Ubuntu-Splash-Color=White
X-Ubuntu-Splash-Title=Telegram
X-Ubuntu-SymbolicIcon=${SNAP}/meta/gui/icon-large.png
