[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=telegram %u -V
_Name=Telegram
Icon=icons/telegram.png
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=communication
X-Ubuntu-Splash-Show-Header=false
X-Ubuntu-Splash-Color=White
_X-Ubuntu-Splash-Title=Telegram
X-Ubuntu-SymbolicIcon=./icons/telegram_symbolic.svg
